/* build the layout*/

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem auto;
    width: 95%;
}
.title{

}
.main{
    display: grid;
    grid-auto-rows: minmax(125px, auto);
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    border: 1px solid black;

    &__img{
        width: 120px;
        height: 120px;
        background-color: #6666f3;
        margin: 0.2rem;
        padding: 0.2rem;
    }
    &__text{
        width: 120px;
        height: 120px;
        background-color: #00c0ff;
        margin: 0.2rem;
        padding: 0.2rem;
    }
}